<div class="max-w-2xl mx-auto py-8">
  <h1 class="text-5xl font-bold mb-8">Board</h1>

  <%= render 'navigation' %>

  <h2 class="header-1 mb-8">Board / grid</h2>

  <div class="grid gap-0.5 text-center"
    style="
      grid-template-columns: 32px repeat(10, 32px) auto;
      grid-template-rows: 32px repeat(10, 32px);
    "
  >
    <div></div>
    <div>A</div>
    <div>B</div>
    <div>C</div>
    <div>D</div>
    <div>E</div>
    <div>F</div>
    <div>G</div>
    <div>H</div>
    <div>I</div>
    <div>J</div>
    <div></div>

    <div class="my-auto">1</div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div></div>

    <div class="my-auto">2</div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div></div>

    <div class="my-auto">3</div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div></div>

    <div class="my-auto">4</div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div></div>

    <div class="my-auto">5</div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div></div>

    <div class="my-auto">6</div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div></div>

    <div class="my-auto">7</div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div></div>

    <div class="my-auto">8</div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div></div>

    <div class="my-auto">9</div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div></div>

    <div class="my-auto">10</div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div class="bg-blue-3 rounded"></div>
    <div></div>
  </div>
</div>
