<div class="max-w-2xl mx-auto py-8">
  <h1 class="text-5xl font-bold mb-8">Board</h1>

  <%= render 'navigation' %>

  <h2 class="header-1 mb-8">Board / grid</h2>

  <div class="board-letters">
    <div></div>
    <div class="header-2 text-gray-2">A</div>
    <div class="header-2 text-gray-2">B</div>
    <div class="header-2 text-gray-2">C</div>
    <div class="header-2 text-gray-2">D</div>
    <div class="header-2 text-gray-2">E</div>
    <div class="header-2 text-gray-2">F</div>
    <div class="header-2 text-gray-2">G</div>
    <div class="header-2 text-gray-2">H</div>
    <div class="header-2 text-gray-2">I</div>
    <div class="header-2 text-gray-2">J</div>
    <div class="header-2 text-gray-2"></div>
  </div>

  <div class="flex flex-row mb-12">
    <div class="board-numbers">
      <div class="my-auto header-2 text-gray-2">1</div>
      <div class="my-auto header-2 text-gray-2">2</div>
      <div class="my-auto header-2 text-gray-2">3</div>
      <div class="my-auto header-2 text-gray-2">4</div>
      <div class="my-auto header-2 text-gray-2">5</div>
      <div class="my-auto header-2 text-gray-2">6</div>
      <div class="my-auto header-2 text-gray-2">7</div>
      <div class="my-auto header-2 text-gray-2">8</div>
      <div class="my-auto header-2 text-gray-2">9</div>
      <div class="my-auto header-2 text-gray-2">10</div>
    </div>

    <div class="board">
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div></div>

      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div></div>

      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div></div>

      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div></div>

      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div></div>

      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div></div>

      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div></div>

      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div></div>

      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div></div>

      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div class="board-atom"></div>
      <div></div>
    </div>
  </div>

  <h2 class="header-1 mb-8">Board / name</h2>

  <div class="w-96 board-name board-name-main mb-4">
    Your fleet
  </div>

  <div class="w-96 board-name board-name-opponent">
    Your fleet
  </div>
</div>
