<div class="container mx-auto px-8 py-8">
  <h1 class="text-5xl font-bold mb-8">Colors</h1>

  <%= render 'navigation' %>

  <div class="flex flex-col gap-y-8 mb-12">
    <div>
      <h2 class="mb-4 uppercase">Accent 0</h2>

      <div class="flex gap-4">
        <div class="bg-black w-16 h-16 shadow-lg rounded-2xl"></div>
        <div class="bg-white w-16 h-16 shadow-lg rounded-2xl"></div>
      </div>
    </div>

    <div>
      <h2 class="mb-4 uppercase">Accent 1</h2>

      <div class="flex gap-4">
        <div class="bg-gray-0 w-16 h-16 shadow-lg rounded-2xl"></div>
        <div class="bg-gray-1 w-16 h-16 shadow-lg rounded-2xl"></div>
        <div class="bg-gray-2 w-16 h-16 shadow-lg rounded-2xl"></div>
        <div class="bg-gray-3 w-16 h-16 shadow-lg rounded-2xl"></div>
        <div class="bg-gray-4 w-16 h-16 shadow-lg rounded-2xl"></div>
        <div class="bg-gray-5 w-16 h-16 shadow-lg rounded-2xl"></div>
        <div class="bg-gray-6 w-16 h-16 shadow-lg rounded-2xl"></div>
      </div>
    </div>

    <div>
      <h2 class="mb-4 uppercase">Accent 2</h2>

      <div class="flex gap-4">
        <div class="bg-blue-0 w-16 h-16 shadow-lg rounded-2xl"></div>
        <div class="bg-blue-1 w-16 h-16 shadow-lg rounded-2xl"></div>
        <div class="bg-blue-2 w-16 h-16 shadow-lg rounded-2xl"></div>
        <div class="bg-blue-3 w-16 h-16 shadow-lg rounded-2xl"></div>
      </div>
    </div>

    <div>
      <h2 class="mb-4 uppercase">Accent 3</h2>

      <div class="flex gap-4">
        <div class="bg-red-0 w-16 h-16 shadow-lg rounded-2xl"></div>
      </div>
    </div>
  </div>
</div>
