<div class="container mx-auto px-8 py-8">
  <h1 class="text-5xl font-bold mb-8">Interface</h2>

  <%= render 'navigation' %>

  <h2 class="text-3xl font-semibold mb-4">Topbar</h2>

  <%= render TopbarComponent.new %>
</div>
