<div class="container mx-auto px-8 py-8">
  <h1 class="text-5xl font-bold mb-8">Interface</h2>

  <%= render 'navigation' %>

  <h2 class="text-3xl font-semibold mb-4">Topbar</h2>

  <div class="px-16 py-8 flex justify-between items-center"
    style="background: radial-gradient(100% 100% at 50% 0%, #FFFFFF 0%, #F6F6F6 100%);"
  >
    <%= image_tag 'bearer-battleship-logo.svg' %>

    <p class="body text-gray-1">Based on the great work of unfold.co</p>
  </div>
</div>
