<div class="max-w-2xl mx-auto py-8">
  <h1 class="text-5xl font-bold mb-8">Ships</h1>

  <h2 class="text-3xl font-semibold mb-8">Ships / atom</h2>

  <div class="flex flex-row gap-x-16 mb-8">
    <div class="atom front-default">
      <div class="hit"></div>
    </div>
    <div class="atom front-default hover">
      <div class="hit"></div>
    </div>
    <div class="atom front-default atom-hit">
      <div class="hit"></div>
    </div>
  </div>

  <div class="flex flex-row gap-x-16 mb-8">
    <div class="atom front-aircraft-carrier">
      <div class="hit"></div>
    </div>
    <div class="atom front-aircraft-carrier hover">
      <div class="hit"></div>
    </div>
    <div class="atom front-aircraft-carrier atom-hit">
      <div class="hit"></div>
    </div>
  </div>

  <div class="flex flex-row gap-x-16 mb-8">
    <div class="atom front-submarine">
      <div class="hit"></div>
    </div>
    <div class="atom front-submarine hover">
      <div class="hit"></div>
    </div>
    <div class="atom front-submarine atom-hit">
      <div class="hit"></div>
    </div>
  </div>

  <div class="flex flex-row gap-x-16 mb-8">
    <div class="atom middle">
      <div class="hit"></div>
    </div>
    <div class="atom middle hover">
      <div class="hit"></div>
    </div>
    <div class="atom middle atom-hit">
      <div class="hit"></div>
    </div>
  </div>

  <div class="flex flex-row gap-x-16 mb-8">
    <div class="atom back-aircraft-carrier">
      <div class="hit"></div>
    </div>
    <div class="atom back-aircraft-carrier hover">
      <div class="hit"></div>
    </div>
    <div class="atom back-aircraft-carrier atom-hit">
      <div class="hit"></div>
    </div>
  </div>

  <div class="flex flex-row gap-x-16 mb-8">
    <div class="atom back-default">
      <div class="hit"></div>
    </div>
    <div class="atom back-default hover">
      <div class="hit"></div>
    </div>
    <div class="atom back-default atom-hit">
      <div class="hit"></div>
    </div>
  </div>

  <h2 class="text-3xl font-semibold mb-8">Ships / components</h2>

  <div class="grid gap-y-10 gap-x-12" style="grid-template-columns: 125px 50px 50px">
    <p></p>
    <p class="uppercase font-semibold text-xs my-auto text-gray-0 text-center">Default</p>
    <p class="uppercase font-semibold text-xs my-auto text-gray-0 text-center">Silhouette</p>

    <p class="uppercase font-semibold text-xs my-auto text-gray-0 text-right">Cruiser (2)</p>

    <div class="ship flex-col items-center">
      <div class="atom front-default">
        <div class="hit"></div>
      </div>
      <div class="atom back-default">
        <div class="hit"></div>
      </div>
    </div>

    <div class="ship flex-col items-center">
      <div class="atom silhouette front-default">
        <div class="hit"></div>
      </div>
      <div class="atom silhouette back-default">
        <div class="hit"></div>
      </div>
    </div>

    <p class="uppercase font-semibold text-xs my-auto text-gray-0 text-right">Destroyer (3)</p>

    <div class="ship flex-col items-center">
      <div class="atom front-default">
        <div class="hit"></div>
      </div>
      <div class="atom middle">
        <div class="hit"></div>
      </div>
      <div class="atom back-default">
        <div class="hit"></div>
      </div>
    </div>

    <div class="ship flex-col items-center">
      <div class="atom silhouette front-default">
        <div class="hit"></div>
      </div>
      <div class="atom silhouette middle">
        <div class="hit"></div>
      </div>
      <div class="atom silhouette back-default">
        <div class="hit"></div>
      </div>
    </div>

    <p class="uppercase font-semibold text-xs my-auto text-gray-0 text-right">Submarine (3)</p>

    <div class="ship flex-col items-center">
      <div class="atom front-submarine">
        <div class="hit"></div>
      </div>
      <div class="atom middle">
        <div class="hit"></div>
      </div>
      <div class="atom back-default">
        <div class="hit"></div>
      </div>
    </div>

    <div class="ship flex-col items-center">
      <div class="atom silhouette front-submarine">
        <div class="hit"></div>
      </div>
      <div class="atom silhouette middle">
        <div class="hit"></div>
      </div>
      <div class="atom silhouette back-default">
        <div class="hit"></div>
      </div>
    </div>

    <p class="uppercase font-semibold text-xs my-auto text-gray-0 text-right">Battleship (4)</p>

    <div class="ship flex-col items-center">
      <div class="atom front-default">
        <div class="hit"></div>
      </div>
      <div class="atom middle">
        <div class="hit"></div>
      </div>
      <div class="atom middle">
        <div class="hit"></div>
      </div>
      <div class="atom back-default">
        <div class="hit"></div>
      </div>
    </div>

    <div class="ship flex-col items-center">
      <div class="atom silhouette front-default">
        <div class="hit"></div>
      </div>
      <div class="atom silhouette middle">
        <div class="hit"></div>
      </div>
      <div class="atom silhouette middle">
        <div class="hit"></div>
      </div>
      <div class="atom silhouette back-default">
        <div class="hit"></div>
      </div>
    </div>

    <p class="uppercase font-semibold text-xs my-auto text-gray-0 text-right">Aircraft carrier (5)</p>

    <div class="ship flex-col items-center">
      <div class="atom front-aircraft-carrier">
        <div class="hit"></div>
      </div>
      <div class="atom middle">
        <div class="hit"></div>
      </div>
      <div class="atom middle">
        <div class="hit"></div>
      </div>
      <div class="atom middle">
        <div class="hit"></div>
      </div>
      <div class="atom back-aircraft-carrier">
        <div class="hit"></div>
      </div>
    </div>

    <div class="ship flex-col items-center">
      <div class="atom silhouette front-aircraft-carrier">
        <div class="hit"></div>
      </div>
      <div class="atom silhouette middle">
        <div class="hit"></div>
      </div>
      <div class="atom silhouette middle">
        <div class="hit"></div>
      </div>
      <div class="atom silhouette middle">
        <div class="hit"></div>
      </div>
      <div class="atom silhouette back-aircraft-carrier">
        <div class="hit"></div>
      </div>
    </div>
  </div>

</div>
