<div class="max-w-2xl mx-auto py-8">
  <h1 class="text-5xl font-bold mb-8">Ships</h1>

  <div class="flex flex-row gap-x-16 mb-8">
    <div class="atom front-aircraft-carrier bg-gray-3">
      <div class="hit rounded-full w-3 h-3 bg-gray-2">
      </div>
    </div>
    <div class="atom front-aircraft-carrier hover bg-gray-3">
      <div class="hit rounded-full w-3 h-3 bg-gray-2">
      </div>
    </div>
    <div class="atom front-aircraft-carrier atom-hit bg-gray-3">
      <div class="hit rounded-full w-3 h-3 bg-gray-2">
      </div>
    </div>
  </div>

  <div class="flex flex-row gap-x-16 mb-8">
    <div class="atom front-submarine bg-gray-3">
      <div class="hit rounded-full w-3 h-3 bg-gray-2">
      </div>
    </div>
    <div class="atom front-submarine hover bg-gray-3">
      <div class="hit rounded-full w-3 h-3 bg-gray-2">
      </div>
    </div>
    <div class="atom front-submarine atom-hit bg-gray-3">
      <div class="hit rounded-full w-3 h-3 bg-gray-2">
      </div>
    </div>
  </div>

  <div class="flex flex-row gap-x-16 mb-8">
    <div class="atom bg-gray-3">
      <div class="hit rounded-full w-3 h-3 bg-gray-2">
      </div>
    </div>
    <div class="atom hover bg-gray-3">
      <div class="hit rounded-full w-3 h-3 bg-gray-2">
      </div>
    </div>
    <div class="atom atom-hit bg-gray-3">
      <div class="hit rounded-full w-3 h-3 bg-gray-2">
      </div>
    </div>
  </div>
</div>
