<div class="max-w-2xl mx-auto py-8">
  <h1 class="text-5xl font-bold mb-8">Ships</h1>

  <div class="flex flex-row gap-x-16 mb-8">
    <div class="atom front-default">
      <div class="hit"></div>
    </div>
    <div class="atom front-default hover">
      <div class="hit"></div>
    </div>
    <div class="atom front-default atom-hit">
      <div class="hit"></div>
    </div>
  </div>

  <div class="flex flex-row gap-x-16 mb-8">
    <div class="atom front-aircraft-carrier">
      <div class="hit"></div>
    </div>
    <div class="atom front-aircraft-carrier hover">
      <div class="hit"></div>
    </div>
    <div class="atom front-aircraft-carrier atom-hit">
      <div class="hit"></div>
    </div>
  </div>

  <div class="flex flex-row gap-x-16 mb-8">
    <div class="atom front-submarine">
      <div class="hit"></div>
    </div>
    <div class="atom front-submarine hover">
      <div class="hit"></div>
    </div>
    <div class="atom front-submarine atom-hit">
      <div class="hit"></div>
    </div>
  </div>

  <div class="flex flex-row gap-x-16 mb-8">
    <div class="atom">
      <div class="hit"></div>
    </div>
    <div class="atom hover">
      <div class="hit"></div>
    </div>
    <div class="atom atom-hit">
      <div class="hit"></div>
    </div>
  </div>

  <div class="flex flex-row gap-x-16 mb-8">
    <div class="atom back-aircraft-carrier">
      <div class="hit"></div>
    </div>
    <div class="atom back-aircraft-carrier hover">
      <div class="hit"></div>
    </div>
    <div class="atom back-aircraft-carrier atom-hit">
      <div class="hit"></div>
    </div>
  </div>

  <div class="flex flex-row gap-x-16 mb-8">
    <div class="atom back-default">
      <div class="hit"></div>
    </div>
    <div class="atom back-default hover">
      <div class="hit"></div>
    </div>
    <div class="atom back-default atom-hit">
      <div class="hit"></div>
    </div>
  </div>
</div>
