<div class="ship <%= classes %>">
  <div class="spacer spacer-edge"></div>
  <div class="atom front-aircraft-carrier"><div class="hit"></div></div>
  <div class="spacer spacer-between"></div>
  <div class="atom middle"><div class="hit"></div></div>
  <div class="spacer spacer-between"></div>
  <div class="atom middle"><div class="hit"></div></div>
  <div class="spacer spacer-between"></div>
  <div class="atom middle"><div class="hit"></div></div>
  <div class="spacer spacer-between"></div>
  <div class="atom back-aircraft-carrier"><div class="hit"></div></div>
  <div class="spacer spacer-edge"></div>
</div>
