<div class="board-letters">
  <div></div>
  <div class="header-2 text-gray-2">A</div>
  <div class="header-2 text-gray-2">B</div>
  <div class="header-2 text-gray-2">C</div>
  <div class="header-2 text-gray-2">D</div>
  <div class="header-2 text-gray-2">E</div>
  <div class="header-2 text-gray-2">F</div>
  <div class="header-2 text-gray-2">G</div>
  <div class="header-2 text-gray-2">H</div>
  <div class="header-2 text-gray-2">I</div>
  <div class="header-2 text-gray-2">J</div>
  <div class="header-2 text-gray-2"></div>
</div>
