<div class="flex flex-row items-center gap-4">
  <p class="uppercase font-semibold text-xs text-gray-0 -rotate-90">Shipyard</p>
  <div class="grid grid-cols-2 gap-2">
    <span class="body">Cruiser (2 blocks)</span>
    <span class="body">Battleship (4 blocks)</span>

    <span class="body">Submarine (3 blocks)</span>
    <span class="body">Aircraft Carrier (5 blocks)</span>

    <span class="body">Destroyer (3 blocks)</span>
  </div>
</div>
