<div class="ship <%= classes %>">
  <div class="spacer spacer-edge"></div>
  <%= render ShipAtomComponent.new('front-default', hit: hits[0]) %>
  <div class="spacer spacer-between"></div>
  <%= render ShipAtomComponent.new('back-default', hit: hits[0]) %>
  <div class="spacer spacer-edge"></div>
</div>
