<div class="ship <%= classes %>">
  <div class="spacer spacer-edge"></div>
  <%= render ShipAtomComponent.new('front-submarine') %>
  <%# <div class="spacer spacer-between"></div> %>
  <%= render ShipAtomComponent.new('middle') %>
  <%# <div class="spacer spacer-between"></div> %>
  <%= render ShipAtomComponent.new('back-default') %>
  <div class="spacer spacer-edge"></div>
</div>
