<div class="px-16 py-8 flex justify-between items-center"
  style="background: radial-gradient(100% 100% at 50% 0%, #FFFFFF 0%, #F6F6F6 100%);"
>
  <%= image_tag 'bearer-battleship-logo.svg' %>

  <p class="body text-gray-1">Based on the great work of unfold.co</p>
</div>
