<div class="bg-gray-6 h-screen">
  <div class="mb-12">
    <%= render TopbarComponent.new %>
  </div>

  <div class="max-w-5xl mx-auto bg-white rounded-xl p-16">
    <div class="flex flex-row justify-between">
      <div>
      </div>

      <div class="border-l border-gray-5"></div>

      <div>
      </div>
    </div>
  </div>
</div>
