.board-letters {
  @apply grid text-center;

  grid-template-columns: 34px repeat(10, 34px) auto;
  grid-template-rows: 34px;
}

.board-numbers {
  @apply grid text-center;

  grid-template-columns: 34px;
  grid-template-rows: repeat(10, 34px);
}

.board {
  @apply grid text-center;

  grid-template-columns: repeat(10, 34px) auto;
  grid-template-rows: repeat(10, 34px);
}

.board-atom {
  @apply rounded flex items-center justify-center transition-colors hover:cursor-pointer;

  margin: 2px;
}

.board-main {
  & .board-atom {
    @apply bg-blue-3;

    &:hover {
      @apply bg-blue-2;

      &.miss::before {
        @apply bg-gray-4;
      }
    }

    &.miss::before {
      @apply bg-blue-2 w-4 h-4 rounded-full;

      content: '';
    }
  }
}

.board-opponent {
  & .board-atom {
    @apply bg-gray-5;

    &:hover {
      @apply bg-gray-4;
    }

    &.miss::before {
      @apply bg-gray-3 w-4 h-4 rounded-full;

      content: '';
    }

    &.hit::before {
      @apply bg-red-0 w-4 h-4 rounded-full;

      content: '';
    }
  }
}

.board-name {
  @apply rounded py-3 header-3 text-white text-center align-middle;

  &.board-name-main {
    @apply bg-blue-0;
  }

  &.board-name-opponent {
    @apply bg-gray-2;
  }
}
